"$schema" = "https://schema.tauri.app/config/2"
productName = "overseers-reference"
version = "../package.json"
identifier = "one.nwest.overseers-reference"

[build]
beforeDevCommand = "bun run dev"
devUrl = "http://localhost:1420"
beforeBuildCommand = "bun run build"
frontendDist = "../build"

[app.security]
# This was the recommended tauri.security value
csp = "default-src 'self' ipc: http://ipc.localhost; img-src 'self' asset: http://asset.localhost"

[app.security.assetProtocol]
enable = true
# We need to be able to access images from wherever the game data is stored.
scope = ["**"]

[[app.windows]]
title = "Overseer's Reference for Dwarf Fortress"
width = 1180
height = 800
fullscreen = false

[bundle]
category = "Utility"
shortDescription = "An app to provide Dwarf Fortress players with personalized, raws-accurate references."
longDescription = """
Overseer's Reference will parse the vanilla and any downloaded raws to provide a way to look through
the various creatures, plants, inorganic objects, and many other things in the game. It reads both object and
graphics raws, and when it can, it will display images for the objects it lists.

In terms of functionality, you can filter by type of object or by where the raw was loaded from (vanilla or mod
or even a specific module). You can also search for specific objects by name or id. All objects will let you
view the entire parsed raw (as formatted JSON) and they also have a few properties like file path and id which
can help you narrow down exactly where it came from.

You can also search for specific properties of objects. For example, you can search for all creatures that lay
eggs or are trainable. Future "tag-specific" searches will be added as well.

In the future, hopefully it will support all the types of raws. For now, it just supports a few basic ones:

- Creatures
- Plants
- Inorganic Objects

And there is limited support for:

- Materials
- Syndromes
- CreatureVariations
- Entities

For more on what parsing is supported and how, see the related project `dfraw_parser`.
"""
active = true
targets = "all"
icon = [
  "icons/32x32.png",
  "icons/128x128.png",
  "icons/128x128@2x.png",
  "icons/icon.icns",
  "icons/icon.ico"
]
