.double-badge span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0.23rem;
}

.listing-card {
  width: 20rem;
  min-height: 20rem;
  padding-left: 0;
  padding-right: 0;

  .card-body {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .card-title {
    font-weight: bolder;
  }

  .card-subtitle {
    margin-bottom: 0.25rem;
    color: var(--bs-text-muted);
  }

  .card-badges {
    margin-bottom: 0.25rem;
  }

  .card-footer {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
