/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-dark);
}

#root {
  width: calc(100vw - 00.5rem);
  overflow-x: hidden;
}
