.icon-link svg {
  width: 1.5em;
  height: 1.5em;
}

.indicate-clickable {
  cursor: pointer;
}

.button-icon-adjust-25 {
  .btn {
    svg {
      margin-top: -0.25rem;
    }
  }
}

/* Make the badge float in the top right corner of the button */
.badge-dot {
  background-color: var(--bs-info);
  border-radius: 3px;

  padding: 3px 3px;

  position: absolute;
  /* Position the badge within the relatively positioned button */
  top: 4px;
  left: 2px;
}

.search-filters {
  animation: slide-down 0.4s ease;
  .hidden-away {
    animation: slide-up-away 0.4s ease;
  }
}
