.double-badge span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0.23rem;
  border-radius: 4px;
}

.listing-card {
  width: 20rem;
  min-height: 20rem;
  padding-left: 0;
  padding-right: 0;

  .card-body {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .card-title {
    font-weight: bolder;
  }

  .card-subtitle {
    margin-bottom: 0.25rem;
    color: var(--bs-text-muted);
  }

  .card-badges {
    margin-bottom: 0.25rem;
  }

  .card-footer {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
  }
}


.sprite-image {
  position: absolute;
  right: 0.75rem;
  top: 0.67rem;

  background-color: var(--bs-secondary-bg);
  border: solid 2px goldenrod;
  border-radius: 4px;
  padding: 2px;

  min-width: 36px;
  min-height: 36px;
}

.listing-accordion {
  position: relative;

  .sprite-image {
    right: 2.75rem;
  }
}