.double-badge span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0.23rem;
}

.listing-card {
  width: 20rem;
  min-height: 20rem;
  padding-left: 0;
  padding-right: 0;

  .card-body {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .card-title {
    font-weight: bolder;
  }

  .card-subtitle {
    margin-bottom: 0.25rem;
    color: var(--bs-text-muted);
  }

  .card-badges {
    margin-bottom: 0.25rem;
  }

  .card-footer {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--bs-secondary-bg);
  width: calc(100vw);
}

.main {
  margin-top: 3.5rem;
}

.offcanvas {
  --bs-offcanvas-width: 500px;
}

#search-box::-webkit-search-cancel-button {
  opacity: 0.3;
  position: relative;
  right: 2px;

  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #000 45%,
      #000 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(135deg, transparent 0%, transparent 43%, #000 45%, #000 55%, transparent 57%, transparent 100%);
}

label > p {
  margin-bottom: 0;
}

.settings-window > section {
  margin-bottom: 1rem;
}

.accordion-title {
  font-size: 1.125rem;
  &::first-letter {
    text-shadow: 0 0 2px var(--bs-dark-text);
  }
}
.accordion-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  text-align: left;
  margin-right: 5vw;
}

.progress-details {
  padding-left: 1rem;
  .col {
    padding-top: 0.25rem;
    padding-left: 1rem;
    .badge {
      font-size: 0.6rem;
      color: var(--bs-gray-900);
    }
  }
}

.sprite-image {
  position: absolute;
  right: 0.75rem;
  top: 0.67rem;

  background-color: var(--bs-secondary-bg);
  border: solid 2px goldenrod;
  border-radius: 4px;
  padding: 2px;

  min-width: 36px;
  min-height: 36px;
}

.listing-accordion {
  position: relative;

  .sprite-image {
    right: 2.75rem;
  }
}
