.icon-link svg {
  width: 1.5em;
  height: 1.5em;
}

.indicate-clickable {
  cursor: pointer;
}

.double-badge span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0.23rem;
}

.modal90w {
  width: 90%;
  max-width: none !important;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-dark);
}

#root {
  width: calc(100vw - 00.5rem);
  overflow-x: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  :hover {
    overflow: auto;
    white-space: normal;
    text-overflow: unset;
  }
}