.icon-link svg {
  width: 1.5em;
  height: 1.5em;
}

.indicate-clickable {
  cursor: pointer;
}

/* Make the badge float in the top right corner of the button */
.badge-dot {
  background-color: var(--bs-info);
  border-radius: 3px;

  padding: 3px 3px;

  position: absolute;
  /* Position the badge within the relatively positioned button */
  top: 4px;
  right: 2px;
}

.search-filters {
  animation: slide-down 0.4s ease;
  .hidden-away {
    animation: slide-up-away 0.4s ease;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up-away {
  0% {
    opacity: 1;
    transform: translateY(10vh);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.double-badge span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0.23rem;
}

.modal90w {
  width: 90%;
  max-width: none !important;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bs-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-dark);
}

#root {
  width: calc(100vw - 00.5rem);
  overflow-x: hidden;
}
