.icon-link svg {
  width: 1.5em;
  height: 1.5em;
}

.letter-nav .nav-item {
  padding: 0;
  cursor: pointer;
}
.letter-nav .nav-item .nav-link {
  padding: 0.5rem;
}

.double-badge span {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0.23rem;
}

.accordion-button:not(.collapsed) {
  background-color: #a9bdbd;
  color: #073642;
}

.icon-fix {
  vertical-align: -0.125em;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002b36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #839496;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

#root {
  width: calc(100vw - 00.5rem);
}

/* Fix for dark nav dropdown */
.dropdown-item.active {
  color: #073642 !important;
  background-color: #a9bdbd !important;
  font-weight: bold;
}
