name: Build & Clippy Check
permissions: read-all
on:
  push:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always

# For pushes to any branch, we want to test the build.
# Force the build to run on the latest commit of the branch. If a new commit is pushed while the build is running, the build will be cancelled.
# This is to ensure that the build is always run on the latest commit and doesn't waste resources on outdated commits.
concurrency:
  group: rust-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          lfs: true
      - name: Install bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
      - name: Install Client Dependencies & Build
        run: |
          bun install
          bun run build
      - name: Install Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # master
        with:
          toolchain: nightly
          components: clippy
      - name: Rust cache
        uses: swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          workspaces: "./src-tauri -> target"
      - name: Install Client Dependencies & Build
        run: |
          bun install
          bun run build
      - name: Build the Tauri App
        run: bunx tauri build
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_PRIVATE_KEY_PASSWORD }}

      - name: Run clippy
        run: |
          cd src-tauri
          cargo clippy -- -D warnings
